@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-red: #c73b0f;
  --color-rose-50: #fcf8f6;
  --color-rose-100: #f5eeec;
  --color-rose-400: #ad8a85;
  --color-rose-500: #87635a;
  --color-rose-900: #260f08;
  --breakpoint-xs: 22.5rem;
}

body {
  background-color: var(--color-rose-50);
  color: var(--color-rose-900);
  font-family: "Red Hat Text", sans-serif;
}
